<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Partie</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="flex flex-center">
  <button mat-flat-button color="primary" (click)="openDialog()">Ajouter un joueur</button>
</div>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Joueur(s)</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="2:1">
  <ng-container *ngFor="let joueur of joueurs">
    <mat-grid-tile *ngIf="joueur.aVote == false" (click)="openDialog2(joueur)">Joueur : {{joueur.name}} (Choisir les films)</mat-grid-tile>

    <mat-grid-tile *ngIf="joueur.aVote == true" (click)="openDialog3(joueur)">{{joueur.name}} (Voter pour les oscars)</mat-grid-tile>
  </ng-container>
</mat-grid-list>
<ng-container *ngIf="votesOscar == true">
  <div class="flex flex-center">
    <button mat-flat-button color="primary" (click)="afficherResultat()">Afficher les resultats</button>
  </div>
</ng-container>

<ng-container *ngIf="afficheResultat == true">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Classement</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-resultat></app-resultat>
</ng-container>
