<h1>Partie</h1>

<div class="flex flex-center">
  <button mat-flat-button color="primary" (click)="openDialog()">Ajouter un joueur</button>
</div>

<h3>Joueurs</h3>
<mat-grid-list cols="2" rowHeight="2:1">
  <ng-container *ngFor="let joueur of joueurs">
    <!-- <ng-container *ngIf="joueur.choix == false"> -->

    <mat-grid-tile *ngIf="moviesChose == false" (click)="openDialog2(joueur)">Joueur : {{joueur.name}} (Choisir les films)</mat-grid-tile>

    <mat-grid-tile *ngIf="moviesChose == true" (click)="openDialog2(joueur)">Joueur : {{joueur.name}} (Voter pour les oscars)</mat-grid-tile>
    <!-- </ng-container> -->
    <!-- <ng-container *ngIf="joueur.choix == true">
    <mat-grid-tile (click)="openDialog()">{{joueur.name}} (Choix deja fait)</mat-grid-tile>
  </ng-container> -->
  </ng-container>
</mat-grid-list>
<ng-container *ngIf="verifChoix()">
  <div class="flex flex-center">
    <button mat-flat-button color="primary">Choix des Oscars</button>
  </div>
</ng-container>

