<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Partie</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="flex flex-center">
  <button mat-flat-button color="primary" (click)="openDialog()">Ajouter un joueur</button>
</div>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Joueur(s)</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="2" rowHeight="2:1">
  <ng-container *ngFor="let joueur of joueurs">
    <!-- <ng-container *ngIf="joueur.choix == false"> -->

    <mat-grid-tile *ngIf="moviesChose == false" (click)="openDialog2(joueur)">Joueur : {{joueur.name}} (Choisir les films)</mat-grid-tile>

    <mat-grid-tile *ngIf="moviesChose == true" (click)="openDialog3(joueur)">{{joueur.name}} (Voter pour les oscars)</mat-grid-tile>
    <!-- </ng-container> -->
    <!-- <ng-container *ngIf="joueur.choix == true">
    <mat-grid-tile (click)="openDialog()">{{joueur.name}} (Choix deja fait)</mat-grid-tile>
  </ng-container> -->
  </ng-container>
</mat-grid-list>
<ng-container *ngIf="votesOscar == true">
  <div class="flex flex-center">
    <button mat-flat-button color="primary">Classement</button>
  </div>
</ng-container>

