<!-- <h1 mat-dialog-title>{{joueur.name}}</h1> -->
<div mat-dialog-content>
  <!-- <h3>Film de la categorie : {{categorieAttribut}}</h3> -->
  <h3>Film Categorie</h3>
  <mat-label>Saisir le film</mat-label>
  <app-movie [categorieLibre]=false></app-movie>
  <br>
  <h3>Film Libre</h3>
  <mat-label>Saisir le film</mat-label>
  <app-movie [categorieLibre]=true></app-movie>
</div>

<div mat-dialog-actions>
  <button mat-button>Annuler</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>
