<h1 mat-dialog-title>Ajouter une partie</h1>
<div mat-dialog-content>
  <div [formGroup] = "ajoutGameForm">
    <mat-form-field>
      <mat-label>Nom de la partie</mat-label>
      <input matInput type="text" formControlName="nomGame">
    </mat-form-field>
    <p>Categories de la partie :</p>
    <mat-form-field>
      <mat-label>Saisir la categorie</mat-label>
      <input matInput type="text" formControlName="nomCategorie">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Saisir la description de la categorie</mat-label>
      <input matInput type="text" formControlName="descriptionCategorie">
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button (click)="ajoutCategories()" cdkFocusInitial>Ajouter</button>
    </div>
  </div>
</div>

<ng-container *ngIf="categories.length > 0">
  <h3>Categories ajoutees :</h3>
  <ng-container *ngFor="let categorie of categories">
    <div>
      {{categorie.name}}
    </div>
  </ng-container>
</ng-container>

<div mat-dialog-actions>
  <button mat-button (click)="ajoutGame()" cdkFocusInitial>Valider</button>
</div>
