<div (change)="emitChoix()" mat-dialog-content>
  <div [formGroup] = "ajoutMovieForm">
    <mat-form-field>
      <mat-label>Titre</mat-label>
      <input matInput type="text" required formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Realisateur</mat-label>
      <input matInput type="text" required formControlName="realisator">
    </mat-form-field>
    <ng-container *ngIf="categorieLibre">
      <mat-form-field>
        <mat-label>Saisir la categorie</mat-label>
        <input matInput type="text" required formControlName="category">
      </mat-form-field>
    </ng-container>
    <mat-form-field>
      <mat-label>Duree</mat-label>
      <input matInput type="number" required formControlName="duration">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pays</mat-label>
      <input matInput type="text" required formControlName="country">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description du film</mat-label>
      <input matInput type="text" required formControlName="description">
    </mat-form-field>
  </div>
</div>

<h3>Acteur du film</h3>
<div [formGroup] = "ajoutActeurForm">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  <mat-checkbox class="margin" formControlName="male">Homme</mat-checkbox>
  <mat-checkbox class="margin" formControlName="male">Femme</mat-checkbox>
  <div mat-dialog-actions>
    <button mat-button type="submit" (click)="ajoutActeurs()" cdkFocusInitial>Ajouter l'acteur</button>
  </div>
</div>
<br>

<ng-container *ngIf="acteurs.length > 0">
  <h3>Acteurs ajoutees :</h3>
  <ng-container *ngFor="let acteur of acteurs">
    <div>
      {{acteur.name}}
    </div>
  </ng-container>
</ng-container>
