<form [formGroup] = "ajoutOscarForm">
    <h4>Oscar du meilleur film</h4>
    <mat-form-field>
        <mat-label>Film</mat-label>
        <mat-select formControlName="title" (selectionChange)="updateOscarTitle($event.value)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let movie of movieTab" [value]="movie.title">{{movie.title}}</mat-option>
        </mat-select>
    </mat-form-field>

    <h4>Oscar du meilleur realisateur</h4>
    <mat-form-field>
        <mat-label>Realisateur</mat-label>
        <mat-select formControlName="realisator" (selectionChange)="updateOscarRealisator($event.value)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let movie of movieTab" [value]="movie.realisator">{{movie.realisator}}</mat-option>
        </mat-select>
    </mat-form-field>

    <h4>Oscar du meilleur acteur</h4>
    <mat-form-field>
        <mat-label>Acteur</mat-label>
        <mat-select formControlName="actor" (selectionChange)="updateOscarActor($event.value)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let actor of actorsTab" [value]="actor.name">{{actor.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="flex flex-between">
        <button mat-flat-button color="primary" (click)="onNoClick()">Annuler</button>
        <button mat-flat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial (click)="updateOscars()">Valider</button>
    </div>
</form>
