<form [formGroup] = "ajoutOscarForm">
    <h4>Oscar du meilleur film</h4>
    <mat-form-field>
        <mat-label>Film</mat-label>
        <mat-select formControlName="title">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let movie of movieTab" [value]="movie.title" (selectionChange)="updateOscarTitle($event.value)">{{movie.title}}</mat-option>
        </mat-select>
    </mat-form-field>

    <h4>Oscar du meilleur realisateur</h4>
    <mat-form-field>
        <mat-label>Realisateur</mat-label>
        <mat-select formControlName="realisator">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let movie of movieTab" [value]="movie.realisator" (selectionChange)="updateOscarRealisator($event.value)">{{movie.realisator}}</mat-option>
        </mat-select>
    </mat-form-field>

    <h4>Oscar du meilleur acteur</h4>
    <mat-form-field>
        <mat-label>Acteur</mat-label>
        <mat-select formControlName="actor">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let movie of movieTab" (selectionChange)="updateOscarActor($event.value)">{{movie.actors}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button (onclick)="updateOscars()" color="primary"></button>
</form>
